/*navbar fixon */
.body {
  background-color: rgb(255, 255, 255);
}
#navbar-example2 {
  background-color: black !important;
  position: sticky;
  z-index: 1000;
  top: 0;
}

.navbar .nav-link {
  color: rgb(255, 255, 255);
}

.navbar .dropdown-toggle {
  color: white !important;
}

.navbar .nav-link.dropdown-toggle {
  background-color: rgb(255, 255, 255) !important;
  color: black !important; 
}
.navbar .navbar-brand {
  color: rgb(255, 255, 255);
  align-items: center !important;
  font-size: 30px;
}

#navbar-example2 .navbar-brand:hover {
  color: rgb(255, 255, 255) !important;
}

/*carruseeel*/
#carouselExampleCaptions {
    overflow: hidden;
    margin-top: 10px;
    margin-left: 10px;
    opacity:100%;
}
.carousel-inner .carousel-item img {
    height: 400px;
    object-fit: cover;
}

.carousel-caption {
  text-shadow: 3px 2px #151313;

}

/*cardssss*/
.card {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  max-height: 600px;
  margin: 20px;
  text-align: center;
  font-family: arial;

}
.price {
  color: grey;
  font-size: 22px;
}

.card-container {
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
.card h1{
  font-size: 25px;
}

/*Acordion*/
.accordion {
  max-width:100% ;
  
}
.accordion-item {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important; 
  border: 1px solid rgb(223, 223, 223) !important; 

}

.accordion-button {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
}

.accordion-button:not(.collapsed) { 
  background-color: rgba(82, 82, 82, 0.175) !important;
  color: rgb(0, 0, 0) !important;
  box-shadow: none !important; /
}

.accordion-body {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
}


.accordion-item img {
  display: block;
  margin: 10px auto;
  max-width: 90%;
  height: auto;


}

.accordion-item .accordion-collapse {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.accordion-item img {
  flex: 1 1 calc(50% - 20px); 
  max-width: 100%;
}


.accordion-item img {
  object-fit: cover; 
  width: auto; 
  height: auto; 
}


/*carta que gira*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
  margin: 0 auto; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: rgb(180, 180, 180);
  color: white;
  transform: rotateY(180deg);
}

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}